Resultados/
ant/
bin/
emma/
lib/
META-INF/
.settings/
.svn/
.project
.draw
.DS_Store
._.DS_Store
.classpath
.org.jhotdraw.framework.jHotDrawException??
.ser
ScalabilityTest.properties
files/
junitv*.properties
junit1574*.properties
junit*.properties